In [29]:
#Load a dataset into a pandas DataFrame and display the first few rows.

In [3]:
import pandas as pd
df = pd.read_csv('Cost_of_Living_Index_by_Country_2024.csv')
print(df)

     Rank      Country  Cost of Living Index  Rent Index  \
0       1  Switzerland                 101.1        46.5
1       2      Bahamas                  85.0        36.7
2       3      Iceland                  83.0        39.2
3       4    Singapore                  76.7        67.2
4       5     Barbados                  76.6        19.0
..    ...          ...                   ...         ...
116   117   Bangladesh                  22.5         2.4
117   118        India                  21.2         5.6
118   119        Egypt                  21.0         3.7
119   120        Libya                  20.4         4.3
120   121     Pakistan                  18.8         2.8

     Cost of Living Plus Rent Index  Groceries Index  Restaurant Price Index  \
0                              74.9            109.1                    97.0
1                              61.8             81.6                    83.3
2                              62.0             88.4                    86.8
3                              72.1             74.6                    50.4
4                              48.9             80.8                    69.4
..                              ...              ...                     ...
116                            12.8             25.7                    12.8
117                            13.7             23.8                    15.1
118                            12.7             21.2                    16.2
119                            12.7             22.2                    15.2
120                            11.1             17.5                    12.9

     Local Purchasing Power Index
0                           158.7
1                            54.6
2                           120.3
3                           111.1
4                            43.5
..                            ...
116                          33.1
117                          82.6
118                          20.0
119                          42.0
120                          29.1

[121 rows x 8 columns]

In [7]:
df.head()

,Rank,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,1,Switzerland,101.1,46.5,74.9,109.1,97.0,158.7
1,2,Bahamas,85.0,36.7,61.8,81.6,83.3,54.6
2,3,Iceland,83.0,39.2,62.0,88.4,86.8,120.3
3,4,Singapore,76.7,67.2,72.1,74.6,50.4,111.1
4,5,Barbados,76.6,19.0,48.9,80.8,69.4,43.5

In [33]:
#Filter the DataFrame to display only the rows that meet a certain condition

In [31]:
print(df[df['Cost of Living Index']>50])

    Rank               Country  Cost of Living Index  Rent Index  \
0      1           Switzerland                 101.1        46.5
1      2               Bahamas                  85.0        36.7
2      3               Iceland                  83.0        39.2
3      4             Singapore                  76.7        67.2
4      5              Barbados                  76.6        19.0
5      6                Norway                  76.0        26.2
6      7               Denmark                  72.3        26.4
7      8     Hong Kong (China)                  70.8        59.4
8      9         United States                  70.4        41.7
9     10             Australia                  70.2        33.4
10    11               Austria                  65.1        22.5
11    12                Canada                  64.8        33.2
12    13           New Zealand                  64.6        25.9
13    14               Ireland                  64.4        42.3
14    15                France                  63.7        21.0
15    16           Puerto Rico                  63.3        19.5
16    17               Finland                  63.2        19.7
17    18           Netherlands                  63.1        33.5
18    19                Israel                  62.7        27.1
19    20            Luxembourg                  62.4        40.5
20    21               Germany                  62.2        24.4
21    22        United Kingdom                  62.0        31.1
22    23               Belgium                  61.1        20.1
23    24           South Korea                  60.1        16.0
24    25                Sweden                  59.3        20.9
25    26                 Italy                  56.2        19.2
26    27  United Arab Emirates                  55.8        41.3
27    28                Cyprus                  54.7        24.8
28    29               Uruguay                  54.1        13.8
29    30               Jamaica                  53.9        14.1
30    31                 Malta                  52.8        24.2
31    32   Trinidad And Tobago                  52.6        13.1
32    33            Costa Rica                  52.3        16.7
33    34               Bahrain                  52.3        20.5
34    35                Greece                  52.0        12.9
35    36               Estonia                  52.0        15.0
36    37                 Qatar                  51.3        36.1

    Cost of Living Plus Rent Index  Groceries Index  Restaurant Price Index  \
0                             74.9            109.1                    97.0
1                             61.8             81.6                    83.3
2                             62.0             88.4                    86.8
3                             72.1             74.6                    50.4
4                             48.9             80.8                    69.4
5                             52.1             79.0                    73.5
6                             50.2             64.8                    81.3
7                             65.3             84.6                    46.2
8                             56.6             75.0                    67.2
9                             52.5             77.3                    62.5
10                            44.7             66.4                    59.3
11                            49.6             71.2                    61.7
12                            46.0             71.9                    57.1
13                            53.8             59.3                    65.3
14                            43.2             69.5                    56.3
15                            42.3             64.1                    53.1
16                            42.4             63.0                    63.6
17                            48.9             59.9                    61.2
18                            45.6             59.6                    68.0
19                            51.9             64.1                    68.7
20                            44.0             60.8                    52.8
21                            47.1             56.9                    62.7
22                            41.4             57.5                    66.0
23                            38.9             81.4                    31.4
24                            40.9             60.8                    54.7
25                            38.5             57.0                    53.3
26                            48.9             45.3                    49.2
27                            40.4             49.6                    53.2
28                            34.8             52.1                    50.2
29                            34.8             62.0                    38.8
30                            39.1             50.6                    56.2
31                            33.7             55.3                    43.9
32                            35.2             56.1                    43.1
33                            37.0             46.9                    44.7
34                            33.2             48.4                    51.3
35                            34.2             46.4                    50.6
36                            44.0             43.9                    47.2

    Local Purchasing Power Index  Total Index
0                          158.7        147.6
1                           54.6        121.7
2                          120.3        122.2
3                          111.1        143.9
4                           43.5         95.6
5                          114.7        102.2
6                          127.2         98.7
7                          109.3        130.2
8                          142.3        112.1
9                          127.4        103.6
10                         102.4         87.6
11                         103.7         98.0
12                         121.0         90.5
13                         101.1        106.7
14                         102.4         84.7
15                         103.5         82.8
16                         118.0         82.9
17                         124.9         96.6
18                          99.4         89.8
19                         182.5        102.9
20                         120.2         86.6
21                         115.2         93.1
22                         109.8         81.2
23                         109.4         76.1
24                         122.6         80.2
25                          78.3         75.4
26                         127.9         97.1
27                          71.4         79.5
28                          56.3         67.9
29                          32.7         68.0
30                          68.1         77.0
31                          43.7         65.7
32                          46.2         69.0
33                         105.0         72.8
34                          53.0         64.9
35                          80.4         67.0
36                         161.1         87.4

In [35]:
#Sort the DataFrame based on a particular column in ascending or descending order.

In [11]:
print(df.sort_values(by='Rent Index',ascending=False))

     Rank            Country  Cost of Living Index  Rent Index  \
3       4          Singapore                  76.7        67.2
7       8  Hong Kong (China)                  70.8        59.4
0       1        Switzerland                 101.1        46.5
13     14            Ireland                  64.4        42.3
8       9      United States                  70.4        41.7
..    ...                ...                   ...         ...
114   115              Syria                  24.0         3.7
118   119              Egypt                  21.0         3.7
111   112              Nepal                  25.5         3.5
120   121           Pakistan                  18.8         2.8
116   117         Bangladesh                  22.5         2.4

     Cost of Living Plus Rent Index  Groceries Index  Restaurant Price Index  \
3                              72.1             74.6                    50.4
7                              65.3             84.6                    46.2
0                              74.9            109.1                    97.0
13                             53.8             59.3                    65.3
8                              56.6             75.0                    67.2
..                              ...              ...                     ...
114                            14.2             24.5                    15.3
118                            12.7             21.2                    16.2
111                            15.0             25.6                    16.2
120                            11.1             17.5                    12.9
116                            12.8             25.7                    12.8

     Local Purchasing Power Index
3                           111.1
7                           109.3
0                           158.7
13                          101.1
8                           142.3
..                            ...
114                           5.5
118                          20.0
111                          25.4
120                          29.1
116                          33.1

[121 rows x 8 columns]

In [37]:
#Add a new calculated column to the DataFrame based on existing columns

In [13]:
df['Total Index'] = df['Cost of Living Index'] + df['Rent Index']
print(df)

     Rank      Country  Cost of Living Index  Rent Index  \
0       1  Switzerland                 101.1        46.5
1       2      Bahamas                  85.0        36.7
2       3      Iceland                  83.0        39.2
3       4    Singapore                  76.7        67.2
4       5     Barbados                  76.6        19.0
..    ...          ...                   ...         ...
116   117   Bangladesh                  22.5         2.4
117   118        India                  21.2         5.6
118   119        Egypt                  21.0         3.7
119   120        Libya                  20.4         4.3
120   121     Pakistan                  18.8         2.8

     Cost of Living Plus Rent Index  Groceries Index  Restaurant Price Index  \
0                              74.9            109.1                    97.0
1                              61.8             81.6                    83.3
2                              62.0             88.4                    86.8
3                              72.1             74.6                    50.4
4                              48.9             80.8                    69.4
..                              ...              ...                     ...
116                            12.8             25.7                    12.8
117                            13.7             23.8                    15.1
118                            12.7             21.2                    16.2
119                            12.7             22.2                    15.2
120                            11.1             17.5                    12.9

     Local Purchasing Power Index  Total Index
0                           158.7        147.6
1                            54.6        121.7
2                           120.3        122.2
3                           111.1        143.9
4                            43.5         95.6
..                            ...          ...
116                          33.1         24.9
117                          82.6         26.8
118                          20.0         24.7
119                          42.0         24.7
120                          29.1         21.6

[121 rows x 9 columns]

In [39]:
#Load two related datasets into separate DataFrames.

In [15]:
import pandas as pd
df2 = pd.read_csv('countries.csv')
print(df2)

     Rank   ID                   Country      Continent  Population  \
0       1  840             United States  North America   339996.56
1       2  156                     China           Asia  1425671.35
2       3  392                     Japan           Asia   123294.51
3       4  276                   Germany         Europe    83294.63
4       5  356                     India           Asia  1428627.66
..    ...  ...                       ...            ...         ...
207   208  729                     Sudan         Africa    48109.01
208   209  760                     Syria           Asia    23227.01
209   210  788                   Tunisia         Africa    12458.22
210   211  796  Turks and Caicos Islands  North America       46.06
211   212  804                   Ukraine         Europe    36744.63

          IMF_GDP        UN_GDP  GDP_per_capita
0    2.669515e+13  1.862448e+13        78515.94
1    2.186548e+13  1.121828e+13        15336.97
2    5.291351e+12  4.936212e+12        42916.35
3    4.564778e+12  3.477796e+12        54802.79
4    3.893670e+12  2.259642e+12         2725.46
..            ...           ...             ...
207  0.000000e+00  8.288740e+10         1722.91
208  0.000000e+00  2.216308e+10          954.19
209  0.000000e+00  4.170356e+10         3347.47
210  0.000000e+00  9.175505e+08        19919.90
211  0.000000e+00  9.327035e+10         2538.34

[212 rows x 8 columns]

In [41]:
#Perform an inner join on the two DataFrames based on a common key.

In [19]:
inner_join = pd.merge(df, df2, on='Country', how='inner')
print(inner_join)

     Rank_x      Country  Cost of Living Index  Rent Index  \
0         1  Switzerland                 101.1        46.5
1         2      Bahamas                  85.0        36.7
2         3      Iceland                  83.0        39.2
3         4    Singapore                  76.7        67.2
4         5     Barbados                  76.6        19.0
..      ...          ...                   ...         ...
112     117   Bangladesh                  22.5         2.4
113     118        India                  21.2         5.6
114     119        Egypt                  21.0         3.7
115     120        Libya                  20.4         4.3
116     121     Pakistan                  18.8         2.8

     Cost of Living Plus Rent Index  Groceries Index  Restaurant Price Index  \
0                              74.9            109.1                    97.0
1                              61.8             81.6                    83.3
2                              62.0             88.4                    86.8
3                              72.1             74.6                    50.4
4                              48.9             80.8                    69.4
..                              ...              ...                     ...
112                            12.8             25.7                    12.8
113                            13.7             23.8                    15.1
114                            12.7             21.2                    16.2
115                            12.7             22.2                    15.2
116                            11.1             17.5                    12.9

     Local Purchasing Power Index  Total Index  Rank_y   ID      Continent  \
0                           158.7        147.6      21  756         Europe
1                            54.6        121.7     136   44  North America
2                           120.3        122.2     107  352         Europe
3                           111.1        143.9      36  702           Asia
4                            43.5         95.6     149   52  North America
..                            ...          ...     ...  ...            ...
112                          33.1         24.9      40   50           Asia
113                          82.6         26.8       5  356           Asia
114                          20.0         24.7      37  818         Africa
115                          42.0         24.7      92  434         Africa
116                          29.1         21.6     206  586           Asia

     Population       IMF_GDP        UN_GDP  GDP_per_capita
0       8796.67  8.881990e+11  6.688513e+11       100969.92
1        412.62  1.363000e+10  1.126180e+10        33032.57
2        375.32  2.947600e+10  2.026966e+10        78536.07
3       6014.72  4.509990e+11  2.969463e+11        74982.51
4        282.00  5.926000e+09  4.552793e+09        21014.56
..          ...           ...           ...             ...
112   172954.32  4.384360e+11  2.208367e+11         2534.98
113  1428627.66  3.893670e+12  2.259642e+12         2725.46
114   112716.60  4.503610e+11  2.701438e+11         3995.52
115     6888.39  4.519500e+10  4.295953e+10         6561.04
116   240485.66  0.000000e+00  2.825060e+11         1174.73

[117 rows x 16 columns]

In [43]:
#Perform an inner join on the two DataFrames based on a common key.

In [21]:
left_join = pd.merge(df, df2, on='Country', how='left')
print(left_join)

     Rank_x      Country  Cost of Living Index  Rent Index  \
0         1  Switzerland                 101.1        46.5
1         2      Bahamas                  85.0        36.7
2         3      Iceland                  83.0        39.2
3         4    Singapore                  76.7        67.2
4         5     Barbados                  76.6        19.0
..      ...          ...                   ...         ...
116     117   Bangladesh                  22.5         2.4
117     118        India                  21.2         5.6
118     119        Egypt                  21.0         3.7
119     120        Libya                  20.4         4.3
120     121     Pakistan                  18.8         2.8

     Cost of Living Plus Rent Index  Groceries Index  Restaurant Price Index  \
0                              74.9            109.1                    97.0
1                              61.8             81.6                    83.3
2                              62.0             88.4                    86.8
3                              72.1             74.6                    50.4
4                              48.9             80.8                    69.4
..                              ...              ...                     ...
116                            12.8             25.7                    12.8
117                            13.7             23.8                    15.1
118                            12.7             21.2                    16.2
119                            12.7             22.2                    15.2
120                            11.1             17.5                    12.9

     Local Purchasing Power Index  Total Index  Rank_y     ID      Continent  \
0                           158.7        147.6    21.0  756.0         Europe
1                            54.6        121.7   136.0   44.0  North America
2                           120.3        122.2   107.0  352.0         Europe
3                           111.1        143.9    36.0  702.0           Asia
4                            43.5         95.6   149.0   52.0  North America
..                            ...          ...     ...    ...            ...
116                          33.1         24.9    40.0   50.0           Asia
117                          82.6         26.8     5.0  356.0           Asia
118                          20.0         24.7    37.0  818.0         Africa
119                          42.0         24.7    92.0  434.0         Africa
120                          29.1         21.6   206.0  586.0           Asia

     Population       IMF_GDP        UN_GDP  GDP_per_capita
0       8796.67  8.881990e+11  6.688513e+11       100969.92
1        412.62  1.363000e+10  1.126180e+10        33032.57
2        375.32  2.947600e+10  2.026966e+10        78536.07
3       6014.72  4.509990e+11  2.969463e+11        74982.51
4        282.00  5.926000e+09  4.552793e+09        21014.56
..          ...           ...           ...             ...
116   172954.32  4.384360e+11  2.208367e+11         2534.98
117  1428627.66  3.893670e+12  2.259642e+12         2725.46
118   112716.60  4.503610e+11  2.701438e+11         3995.52
119     6888.39  4.519500e+10  4.295953e+10         6561.04
120   240485.66  0.000000e+00  2.825060e+11         1174.73

[121 rows x 16 columns]

In [45]:
#Merge the two DataFrames using a concatenation operation and describe a scenario where this might be useful.

In [27]:
concat_df = pd.concat([df, df], ignore_index=True)
print(concat_df.head())

   Rank      Country  Cost of Living Index  Rent Index  \
0     1  Switzerland                 101.1        46.5
1     2      Bahamas                  85.0        36.7
2     3      Iceland                  83.0        39.2
3     4    Singapore                  76.7        67.2
4     5     Barbados                  76.6        19.0

   Cost of Living Plus Rent Index  Groceries Index  Restaurant Price Index  \
0                            74.9            109.1                    97.0
1                            61.8             81.6                    83.3
2                            62.0             88.4                    86.8
3                            72.1             74.6                    50.4
4                            48.9             80.8                    69.4

   Local Purchasing Power Index  Total Index
0                         158.7        147.6
1                          54.6        121.7
2                         120.3        122.2
3                         111.1        143.9
4                          43.5         95.6