In [1]:
print("HELLO!!!")

HELLO!!!

In [3]:
a=5
print(type(a))

<class 'int'>

In [9]:
b=5.0
print(type(b))

<class 'float'>

In [16]:
c = 2 + 4j
print(type(c))

<class 'complex'>

In [22]:
import sys
r=sys.getsizeof(sys)
print(str(r))

72

In [28]:
s='Pythonnn and anacondaa!!'
print(s)
#check data type
print(type(s))
#access string with index
print(s[1])
print(s[2])
print(s[-1])

Pythonnn and anacondaa!!
<class 'str'>
y
t
!

In [34]:
list1=[] #empty list
lsit2=[1,2,3,4]

In [38]:
t1=()  #empty tuple
t2=(1,2,32,3)

In [40]:
t3=(1,2,"SSIPMT",False)

In [42]:
my_range = range(5)
list(my_range)

[0, 1, 2, 3, 4]

In [44]:
my_range = range(2,6)
list(my_range)

[2, 3, 4, 5]

In [52]:
my_dict = {'Hristo': 123456789, 'Ivan': 889900}
print(my_dict)

{'Hristo': 123456789, 'Ivan': 889900}

In [54]:
my_list = [1,1,2,2,3,4]
print(my_list)

[1, 1, 2, 2, 3, 4]

In [56]:
mylist=['apple','banana','cherry']
x=frozenset(mylist) #like constant
x[1]='strawberry' #error

TypeError: 'frozenset' object does not support item assignment

In [62]:
s = "Welcome to python with anaconda!!"
b = bytes(s,'utf-8')
print(b)

b'Welcome to python with anaconda!!'

In [66]:
l=[20,30,40]
a=bytes(l)
print(a)
for i in a:
    print(i)

b'\x14\x1e('
20
30
40

In [74]:
obj=bytes(1)
memoryview(obj)

In [78]:
my_byte_array = bytearray('ABCDE','utf-8')
print(my_byte_array)

bytearray(b'ABCDE')

In [80]:
v=None
print(type(v))

<class 'NoneType'>

In [82]:
x = ["apple","banana"]
print("banana" in x)

True

In [84]:
x = ["apple","banana"]
print("pineapple" not in x)

True

In [86]:
x = ["apple","banana"]
print("apple" not in x)

False

In [88]:
x = ["apple","banana"]
y = ["apple","banana"]
z = x
print(x is z)

True

In [90]:
x = ["apple","banana"]
y = ["apple","banana"]
z = x
print(x is y)

False

In [1]:
a = 23
b = 33
if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")

b is greater than a

In [3]:
a=10
if(a>10):
    print("value of a is greater than 10")
else:
    print("Value is smaller than 10")

Value is smaller than 10

In [7]:
a = 200
b = 33
if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")
else:
    print("b is smaller than a")

b is smaller than a

In [9]:
age = 20
if (age >= 11):
    print("You are elegible to see the football match.")
    if (age <= 20 or age >= 60):
        print("Ticket price is $12")
    else:
        print("Ticket price is $20")
else:
    print("You'are not eligible to buy a ticket.")

You are elegible to see the football match.
Ticket price is $12

In [15]:
a = 340
b = 330
print("A") if a > b else print("=") if a==b else print("B")

A

In [25]:
a = 200
b = 33
c = 200

if a > b or a > c:
    print("At least one of the conditions is true")

At least one of the conditions is true

In [27]:
age = 20
if (age >= 18):
    print("You are elegible to vote.")
else:
    print("You'are not eligible to vote.")

You are elegible to vote.

In [29]:
age = 14
if (age%7==0):
    print("Hello.")
else:
    print("Bye.")

Hello.

In [47]:
units=300
if units <= 100:
    bill = 0  # No charge for first 100 units
elif units <= 200:
    bill = (units - 100) * 5  # ₹5 per unit for units from 101-200
else:
    bill = (100 * 5) + ((units - 200) * 10)  # ₹5 per unit for 101-200, ₹10 per unit for above 200
print("Your electricity bill is: ")
print(bill)

Your electricity bill is:
1500

In [49]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))
c = int(input("Enter c: "))
if(a>b):
    if(a>c):
        print("A is greatest.")
    else:
        print("C is greatest.")
elif(b>c):
    print("B is greatest.")
else:
    print("C is greatest.")

Enter a:  10
Enter b:  20
Enter c:  30

C is greatest.

In [53]:
num = int(input("Enter a number: "))
last_digit = num % 10
if last_digit % 3 == 0:
    print(f"The last digit is divisible by 3.")
else:
    print(f"The last digit is not divisible by 3.")

Enter a number:  113

The last digit is divisible by 3.

In [1]:
print("hello")

hello

In [1]:
sum = lambda arg1,arg2: arg1 + arg2;
print("Value of total : ",sum(10,20))
print("Value of total : ",sum(20,20))

Value of total :  30
Value of total :  40

In [5]:
a = "HELLO"
print(a)

HELLO

In [15]:
a="""hello,
hello again,
hello againnn"""
print(a)

hello,
hello again,
hello againnn

In [39]:
s="GeeksofGeeks"
print(s[1:3])
print(s[:3])
print(s[1:])
print(s[::-1])
print(s[-5:-2])
a="G"+s[1:]
print(a)

ee
Gee
eeksofGeeks
skeeGfoskeeG
Gee
GeeksofGeeks

In [41]:
s1="ABC"
s2="PQR"
a=s1+s2
print(a)

ABCPQR

In [43]:
s="GeeksofGeeks"
del s

In [47]:
s="hello geeks"
s1= "H" + s[1:]
s2=s.replace("geeks","GeeksofGeeks")
print(s1)
print(s2)

Hello geeks
hello GeeksofGeeks

In [3]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [7]:
print("Hello {name1} and {name2}".format(name1='foo',name2='bin'))

Hello foo and bin

In [9]:
print("My name is {name1} , I am {name2}".format(name1='foo',name2='36'))

My name is foo , I am 36

In [11]:
price = 19
txt =(f"The Price is {price} dollars")
print(txt)

The Price is 19 dollars

In [23]:
price = 19
txt =(f"The Price is {price:.2f} dollars")
print(txt)

The Price is 19.00 dollars

In [25]:
txt =(f"The Price is {20*9} dollars")
print(txt)

The Price is 180 dollars

In [29]:
s="hello geeks"
x=s.capitalize()
print(x)

Hello geeks

In [31]:
s=" 36 hello geeks"
x=s.capitalize()
print(x)

 36 hello geeks

In [33]:
s="Hello GEeks"
x=s.casefold()
print(x)

hello geeks

In [37]:
s="Hello Geeks"
x=s.lower()
print(x)

hello geeks

In [47]:
s="hello geeks wee arrrrrrrrrrrr undefeataaaaaabbbbbbbllleeeeeeeee"
x=s.count("hello",0,9)
print(x)

1

In [49]:
s="hello geeks arrrrrmmeeeeeeeeeddddddd annnnnndd dangeeeeerrrrrroussssss"
x=s.count("hello")
print(x)

1

In [65]:
s="hello geeks uss against the world"
x=s.count("hello",5,9)
print(x)

0

In [95]:
st="hello geeks uss against the world"
st.endswith("geeks")

False

In [101]:
st="hello geeks uss against the world"
x=st.endswith(("geeks.","world"))
print(x)

True

In [103]:
st="hello geeks uss against the world"
x=st.find("geeks")
print(x)

6

In [105]:
st="hello geeks uss against the world"
x=st.find("to")
print(x)

-1

In [107]:
st="hello geeks uss against the world"
x=st.find("e")
print(x)

1

In [109]:
st="hello geeks uss against the world"
x=st.index("to")
print(x)

ValueError: substring not found

In [119]:
st="hello"
x=st.isalpha()
print(x)

True

In [115]:
st="hello geeks uss against the world"
print(st.find("e"))
print(st.index("e"))

1
1

In [117]:
st="hello69"
x=st.isalpha()
print(x)

False

In [121]:
st="hello"
x=st.isdigit()
print(x)

False

In [123]:
st="9999"
x=st.isdigit()
print(x)

True

In [127]:
st="helloworld99"
x=st.isalnum()
print(x)

True

In [129]:
st="helloworld 99"
x=st.isalnum()
print(x)

False

In [133]:
st="9999"
x=st.isnumeric()
print(x)

True

In [140]:
st="9²"
x=st.isdigit()
print(x)

True

In [142]:
st="9²"
x=st.isnumeric()
print(x)

True

In [146]:
st="Mangooo"
x=st.strip()
print("Of All Fruits",x,"is My Favorite")

Of All Fruits Mangooo is My Favorite

In [150]:
st="Mangooo.....rrrrrr"
x=st.strip('.grt')
print("Of All Fruits",x,"is My Favorite")

Of All Fruits Mangooo is My Favorite

In [160]:
st="HElllooo,my name is omm,i am 19"
x=st.split(",")
print(x)

['HElllooo', 'my name is omm', 'i am 19']

In [164]:
st="apple#banana#cherry#orange"
x=st.split("#")
print(x)

['apple', 'banana', 'cherry', 'orange']

In [166]:
st="apple#banana#cherry#orange"
x=st.split("#",1)
print(x)

['apple', 'banana#cherry#orange']

In [168]:
st="apple#banana#cherry#orange"
x=st.split("#",2)
print(x)

['apple', 'banana', 'cherry#orange']

In [180]:
myDict={"name": "banana","country": "orange"}
myseparator="TEST"
x=myseparator.join(myDict)
print(x)

nameTESTcountry

In [186]:
txt=['s','s','i','p','m','t']
print(" ".join(txt))

s s i p m t

In [188]:
st="apple#banana#cherry#orange"
x=st.title()
print(x)

Apple#Banana#Cherry#Orange

In [194]:
t="apple#banana#cherry#orange"
x=st.replace("apple","chiku",1)
print(x)

chiku#banana#cherry#orange

In [204]:
def factorial(n):
    fact = 1
    while n > 0:
        fact = fact * n
        n = n - 1
    return fact
num = 5
print(f"Factorial of {num} is {factorial(num)}")

Factorial of 5 is 120

In [228]:
n=int(input("Enter The Number"))
i=1
while i<11:
    print(n,"x",i,"is",n*i)
    i =  i + 1

Enter The Number 4

4 x 1 is 4
4 x 2 is 8
4 x 3 is 12
4 x 4 is 16
4 x 5 is 20
4 x 6 is 24
4 x 7 is 28
4 x 8 is 32
4 x 9 is 36
4 x 10 is 40

In [ ]:
c=0
num=1
while c<5:
    print(num)
    num=num+2
    c = c + 1

In [1]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def __str__(self):
        return f"{self.name}({self.age})"
p1=Person("John", 36)
print(p1)

John(36)

In [7]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def show(self):
        print('Name:',stud.name,'Age:',stud.age)
stud=Student("John", 20)
stud.show()

Name: John Age: 20

In [9]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
stud=Student("John", 20)

print('Name:',getattr(stud,'name'))
print('Age:',getattr(stud,'age'))

Name: John
Age: 20

In [3]:
def max_of_three(a, b, c):
    if a >= b and a >= c:
        return a
    elif b >= a and b >= c:
        return b
    else:
        return c

print(max_of_three(10, 25, 15))

25

In [5]:
def sum_list(numbers):
    total = 0
    for num in numbers:
        total += num
    return total

print(sum_list([1, 2, 3, 4, 5]))

15

In [7]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

print(factorial(5))

120

In [2]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname,self.lastname)
class Student(Person):
    pass
x=Student("Mike","Olsen")
x.printname()

Mike Olsen

In [4]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname,self.lastname)
class Student(Person):
    pass
x=Student("Mike","Olsen")
print(x.firstname)

Mike

In [6]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname,self.lastname)
class Student(Person):
    pass
x=Student("Mike","Olsen")
print(x.lastname)

Olsen

In [10]:
class Person:
    def __init__(self, fname, lname):
        self.__firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname,self.lastname)
class Student(Person):
    pass
x=Student("Mike","Olsen")
print(x.__firstname)

AttributeError: 'Student' object has no attribute '__firstname'

In [12]:
class Person:
    def __init__(self, fname, lname):
        self.__firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname,self.lastname)
class Student(Person):
    pass
x=Student("Mike","Olsen")
print(x._Person__firstname)

Mike

In [14]:
class Person:
    def __init__(self, fname, lname):
        self.__firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname,self.lastname)
class Student(Person):
    def __init__(self,fname,lname,year):
        self.graduationyear=year
x=Student("Mike","Olsen",2019)
print(x.graduationyear)

2019

In [34]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname,self.lastname)
class Student(Person):
    def __init__(self,fname,lname,year):
        super().__init__(fname,lname)
        self.graduationyear=year
x=Student("Mike","Olsen",2019)
print(x.graduationyear)

2019

In [50]:
class Mammal:
    def Mammal_info(self):
        print("Mammal can give direct birth")
class Wingedanimal:
    def winged_animal_info(self):
class Bat(Mammal,Wingedanimal):
    pass
b1=Bat()
b1.animal_info()
b1.winged_animal_info()

IndentationError: expected an indented block after function definition on line 5 (2860596332.py, line 6)

In [4]:
list1=[1,2,3,4,5,6]
#tuple of numbers
num_tuple={4,5,6}
list1.insert(-2,num_tuple)
print(list1)

[1, 2, 3, 4, {4, 5, 6}, 5, 6]

In [6]:
fruits=['apple','banana','cherry']
fruits.insert(0,'orange')
print(fruits)

['orange', 'apple', 'banana', 'cherry']

In [8]:
fruits=['apple','banana','cherry']
fruits.insert(-1,'orange')
print(fruits)

['apple', 'banana', 'orange', 'cherry']

In [10]:
list1=[1,2,3]
list2=[4,5,6]
list1=list1+list2
print(list1)

[1, 2, 3, 4, 5, 6]

In [14]:
a=[1,2,3,4,5]
a[1]=1
print(a)

[1, 1, 3, 4, 5]

In [16]:
a=[1,2,3,4,5]
a.remove(3)
print("After remove 30:",a)

popped_val=a.pop(1)
print("Popped element:",popped_val)
print("After pop",a)
del a[0]
print("After del",a)

After remove 30: [1, 2, 4, 5]
Popped element: 2
After pop [1, 4, 5]
After del [4, 5]

In [18]:
a=[[1,2,3],[4,5,6],[7,8,9]]
print(a[1][2])

6

In [20]:
a=[1,2,3]
b=a.copy()
print(b)

[1, 2, 3]

In [22]:
a=[1,2,3]
a.clear()
print(a)

[]

In [26]:
a=[1,2,3,2]
print(a.count(2))

2

In [32]:
a=[1,2,3,2]
a.reverse()
print(a)

[2, 3, 2, 1]

In [36]:
a=[3,1,2]
a.sort()
print(a)

[1, 2, 3]

In [40]:
a=[3,1,2]
a.sort(reverse=True)
print(a)

[3, 2, 1]

In [42]:
number=[5,2,9,1,5,6]
sorted_number=sorted(number)
print(sorted_number)

[1, 2, 5, 5, 6, 9]

In [44]:
number=[5,2,9,1,5,6]
sorted_number=sorted(number,reverse=True)
print(sorted_number)

[9, 6, 5, 5, 2, 1]

In [48]:
a=["banana","mango","cherry"]
sort=sorted(a)
print(sort)

['banana', 'cherry', 'mango']

In [50]:
a=["banana","mango","cherry"]
sortbylen=sorted(a,key=len)
print(sortbylen)

['mango', 'banana', 'cherry']

In [52]:
a=["banana","mango","cherry"]
sortbylen=sorted(a,key=len,reverse=True)
print(sortbylen)

['banana', 'cherry', 'mango']

In [56]:
a=[(1,3),(2,2),(4,1)]
sort=sorted(a,key=lambda x: x[1])
print(sort)

[(4, 1), (2, 2), (1, 3)]

In [60]:
a=[{'name': 'Alice','age': 20},{'name': 'Bob','age': 20},{'name': 'Alok','age': 32}]
sort=sorted(a,key= lambda x: x['age'])
print(sort)

[{'name': 'Alice', 'age': 20}, {'name': 'Bob', 'age': 20}, {'name': 'Alok', 'age': 32}]

In [62]:
sort=sorted("python")
print("".join(sort))

hnopty

In [64]:
a=[1,2,3,4,1]
a.sort()
print(a)

[1, 1, 2, 3, 4]

In [72]:
a=[1,2,3,4,1,5,6,4,5,6]
print(a[::])
print(a[:])

[1, 2, 3, 4, 1, 5, 6, 4, 5, 6]
[1, 2, 3, 4, 1, 5, 6, 4, 5, 6]

In [78]:
a=[1,2,3,4,1,5,6,4,5,6]
b=a[2:]
print(b)

[3, 4, 1, 5, 6, 4, 5, 6]

In [80]:
a=[1,2,3,4,1,5,6,4,5,6]
b=a[1:4]
print(b)

[2, 3, 4]

In [88]:
a=[1,2,3,4,1,5,6,4,5,6]
b=a[::2]
print(b)
c=a[2:8:3]
print(c)

[1, 3, 1, 6, 5]
[3, 5]

In [14]:
a=[1,2,3,4,5,6,7,8,9]
b=a[-2:]
print(b)

c=a[:-3]
print(c)

d=a[-4:-1]
print(d)
#get every 2nd elements from index -8 to -1(excluding index -1)
e=a[-8:-1:2]
print(e)

[8, 9]
[1, 2, 3, 4, 5, 6]
[6, 7, 8]
[2, 4, 6, 8]

In [16]:
a=[1,2,3,4,5,6,7,8,9]
b=a[::-1]
print(b)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [18]:
a=[1,2,3,4,5,6,7,8,9]
b=a[::-2]
print(b)

[9, 7, 5, 3, 1]

In [20]:
a=[x**2 for x in range(5)]
print(a)

[0, 1, 4, 9, 16]

In [22]:
a=[x for x in range(10) if x % 2 == 0]
print(a)

[0, 2, 4, 6, 8]

In [24]:
a=[(x,x**2) for x in range(4)]
print(a)

[(0, 0), (1, 1), (2, 4), (3, 9)]

In [32]:
a=[x if x % 2 == 0 else 'odd' for x in range(6)]
print(a)

[0, 'odd', 2, 'odd', 4, 'odd']

In [34]:
def a(x):
    return x**2
b=[a(x) for x in range(5)]
print(b)

[0, 1, 4, 9, 16]

In [42]:
list1=list()
print(list1)

[]

In [46]:
list1=list("hello")
print(list1)

['h', 'e', 'l', 'l', 'o']

In [82]:
for i in range(5):
    for j in range(5):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [105]:
for i in range(5):
    for j in range(5):
        print(i+1,end="")
    print()

11111
22222
33333
44444
55555

In [117]:
for i in range(6):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [251]:
k=65
for i in range(65,70):
    for j in range(65,70):
        x=chr(k)
        print(x,end=" ")
    print()
    k=k+1

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [309]:
k=64
for i in range(6):
    for j in range(i):
        x=chr(k)
        print(x,end=" ")
    print()
    k=k+1

A
B B
C C C
D D D D
E E E E E

In [301]:
for i in range(6):
    for j in range(i):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [271]:
for i in range(6):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [325]:
k=64
for i in range(6):
    for j in range(65,69):
        x=chr(j)
        print(x,end=" ")
    print()
    k=k+1

A B C D
A B C D
A B C D
A B C D
A B C D
A B C D

In [400]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j*2-1,end=" ")
    print()

1
1 3
1 3 5
1 3 5 7
1 3 5 7 9

In [402]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j*2,end=" ")
    print()

2
2 4
2 4 6
2 4 6 8
2 4 6 8 10

In [1]:
a=("apple","banana","cherry")
print(a)

('apple', 'banana', 'cherry')

In [3]:
a=("apple","banana","cherry")
print(len(a))

3

In [5]:
a=("apple","banana","cherry")
print(type(a))

<class 'tuple'>

In [7]:
t=(1,2,3,4,5)
print(t[1])
print(t[4])

2
5

In [9]:
t=(1,2,3,4,2,3)
print(t)

t[1]=100
print(t)

(1, 2, 3, 4, 2, 3)

TypeError: 'tuple' object does not support item assignment

In [11]:
t=(10,20,30)
print(t)
print(type(t))

(10, 20, 30)
<class 'tuple'>

In [15]:
t=("apple",) # ',' imp
print(type(t))

<class 'tuple'>

In [19]:
#Not a tuple
t=("apple") # ',' imp
print(type(t))

<class 'str'>

In [21]:
t=tuple(("apple","banana","cherry"))
print(t)

('apple', 'banana', 'cherry')

In [25]:
t=("abc", 34, True, 40, "male")
print(t)

('abc', 34, True, 40, 'male')

In [27]:
t=tuple(("apple","banana","cherry"))
print(t[1])

banana

In [29]:
t=tuple(("apple","banana","cherry"))
print("Value in t[0]", t[0])
print("Value in t[1]", t[1])
print("Value in t[2]", t[2])

Value in t[0] apple
Value in t[1] banana
Value in t[2] cherry

In [33]:
t=tuple(("apple","banana","cherry"))
print("Value in t[-1]", t[-1])
print("Value in t[-2]", t[-2])
print("Value in t[-3]", t[-3])

Value in t[-1] cherry
Value in t[-2] banana
Value in t[-3] apple

In [43]:
t1=(1,2,3,(5,6,7))
print(t1)
print(t1[0])
t1[3][0]=20

(1, 2, 3, (5, 6, 7))
1

TypeError: 'tuple' object does not support item assignment

In [45]:
t=(1,2,3,4,5)
for x in t:
    print(x,end=" ")

1 2 3 4 5

In [47]:
t=(0,1,2,3)
t2=('python','geek')
print(t+t2)

(0, 1, 2, 3, 'python', 'geek')

In [49]:
t1=tuple("Sagar")
print(t1)

('S', 'a', 'g', 'a', 'r')

In [51]:
t=(0,1,2,3)
t2=('python','geek')
t3=(t,t2)
print(t3)

((0, 1, 2, 3), ('python', 'geek'))

In [53]:
t=('python',)*3
print(t)

('python', 'python', 'python')

In [55]:
t=(0,1,2,3)
del t

In [59]:
#code for converting a list and a string into a tuple
a=[0,1,2]
t=tuple(a)
print(t)

(0, 1, 2)

In [69]:
#packing
t=('python','geek','sapera')
y=list(t)
y.append("Saap")
t=tuple(y)
print(t)

('python', 'geek', 'sapera', 'Saap')

In [71]:
#unpacking
t2=('Ghaas','Mangoo')
(green,yellow)=t2
print(yellow)
print(green)

Mangoo
Ghaas

In [73]:
t=("apple","banana","cherry","strawberry","raspberry")
(green, yellow, *red)=t
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [75]:
t=("apple","banana","cherry","strawberry","raspberry")
(green, *yellow, red)=t
print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [77]:
t=("apple","banana","cherry","strawberry","raspberry")
(*green, yellow, red)=t
print(green)
print(yellow)
print(red)

['apple', 'banana', 'cherry']
strawberry
raspberry

In [1]:
set={"apple","banana","cherry"}
print(set)

{'banana', 'apple', 'cherry'}

In [3]:
set={"apple","banana","cherry",False,True,0}
print(set)

{False, True, 'apple', 'cherry', 'banana'}

In [11]:
set={"apple","banana","cherry",True,1,0}
print(set)

{0, True, 'apple', 'cherry', 'banana'}

In [13]:
set={"apple","banana","cherry",1,True,1,0}
print(set)

{0, 1, 'apple', 'cherry', 'banana'}

In [17]:
set={1,2,3,4}
print(set)

{1, 2, 3, 4}

In [58]:
set1={"Geeks","For","Geks"}

for x in set1:
    print(x)

For
Geks
Geeks

In [56]:
set1={"Geeks","For","Geeks"}

print("For" in set1)

True

In [60]:
set1={"apple","banana","cherry"}
set1.add("orange")
print(set1)

{'banana', 'apple', 'orange', 'cherry'}

In [64]:
set1={"apple","banana","cherry"}
set2={"pineapple","mango","papaya"}
set1.update(set2)
print(set1)

{'apple', 'cherry', 'pineapple', 'mango', 'papaya', 'banana'}

In [66]:
set1={"apple","banana","cherry"}
set2=["pineapple","mango","papaya"]
set1.update(set2)
print(set1)

{'pineapple', 'mango', 'papaya', 'apple', 'cherry', 'banana'}

In [70]:
set2=["pineapple","mango","papaya"]
set2.remove("mango")
print(set2)

['pineapple', 'papaya']

In [94]:
set2={"pineapple","mango","papaya"}
set2.pop()
print(set2)

{'mango', 'papaya'}

In [90]:
set2={"pineapple","mango","papaya"}
set2.discard("mango")
print(set2)

{'pineapple', 'papaya'}

In [1]:
a=[5,12,17,18,24,32]
def myf(x):
    if x < 18:
        return False
    else:
        return True

adults=filter(myf,a)
for x in adults:
    print(x)

18
24
32

In [9]:
num=set([1,1,2,3,3,3,4,4])
print(len(num))

4

In [15]:
a=[5,5,6,7,7,7]
b=set(a)
def test(lst):
    if lst in b:
        return 1
    else:
        return 0
for i in filter(test,a):
    print(i,end=" ")

5 5 6 7 7 7

In [17]:
a=set()
print(a)

set()

In [31]:
a=(5,6,7,8)
a.remove(5)
print(a)

AttributeError: 'tuple' object has no attribute 'remove'

In [4]:
a=[5,6,7]
a.add(5)
print(a)

AttributeError: 'list' object has no attribute 'add'

In [33]:
a={5,6,7,8}
b={7,8,10,11}
a^b

{5, 6, 10, 11}

In [35]:
a={3,4,5}
b={5,6,7}
a|b

{3, 4, 5, 6, 7}

In [14]:
car ={
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car["color"]="red"
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [18]:
car ={
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car.update({"color":"orange"})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'orange'}

In [20]:
car ={
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car.popitem()
print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [22]:
car ={
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
del car["model"]
print(car)

{'brand': 'Ford', 'year': 1964}

In [24]:
car ={
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
for x in car:
    print(x)

brand
model
year

In [26]:
car ={
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
for x in car.values():
    print(x)

Ford
Mustang
1964

In [32]:
car ={
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
for x,y in car.items():
    print(x,y)

brand Ford
model Mustang
year 1964

In [34]:
car ={
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
a2={
    "1":"4",
    "2":"5",
    "3":"6"
}

In [36]:
car ={
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
mydict=dict(car)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [38]:
d1={'x': 1,'y': 2}
d2={'y': 3,'z': 4}
d3=d1 | d2
print(d3)

{'x': 1, 'y': 3, 'z': 4}

In [40]:
d1={'x': 1,'y': 2}
d2={'y': 3,'z': 4}
d3={**d1,**d2}
print(d3)

{'x': 1, 'y': 3, 'z': 4}

In [46]:
d1={'x': 1,'y': 2}
d2={'y': 3,'z': 4}
d3=d1.copy()
for key,value in d2.items():
    d3[key]=value
print(d3)

{'x': 1, 'y': 3, 'z': 4}

In [50]:
family ={
    "child1": {
    "name": "Mustang",
    "year": 2004
},
    "child2": {
    "name": "Ford",
    "year": 2007
},
    "child3": {
    "name": "Mickel jackson",
    "year": 2011
}
}
print(family)

{'child1': {'name': 'Mustang', 'year': 2004}, 'child2': {'name': 'Ford', 'year': 2007}, 'child3': {'name': 'Mickel jackson', 'year': 2011}}

In [52]:
family ={
    "child1": {
    "name": "Mustang",
    "year": 2004
},
    "child2": {
    "name": "Ford",
    "year": 2007
},
    "child3": {
    "name": "Mickel jackson",
    "year": 2011
}
}
print(family["child2"]["name"])

Ford