In [ ]:
*Pandas Data Frames*:
#redimade functions
pandas series: it is like column in table.(1D array holding data of any type)

In [5]:
import pandas as pd
a=[1,7,2]  #descrete numarical type of data
myvar=pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [9]:
print(myvar[0])

1

In [11]:
import pandas as pd
a=[1,7,2]  #descrete numarical type of data
myvar=pd.Series(a,index=["x","y","z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [15]:
print(myvar["y"])

7

In [23]:
import pandas as pd
calories={"day1":420,"day2":380,"day3":390}
myvar=pd.Series(calories,index=["day1","day2","day3"])
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [29]:
import pandas as pd
data={"calories":[420,380,390],
        "duration":[50,40,45]}
df=pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [31]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [33]:
import pandas as pd
data={"calories":[420,380,390],
        "duration":[50,40,45]}
df=pd.DataFrame(data,index=["x","y","z"])
print(df)

   calories  duration
x       420        50
y       380        40
z       390        45

In [39]:
print(df.loc["y"])

calories    380
duration     40
Name: y, dtype: int64

In [55]:
print(df.loc["z"])

calories    390
duration     45
Name: z, dtype: int64

In [71]:
print(df.loc["z","calories"])

390

In [75]:
import pandas as pd
df=pd.read_csv("Student.csv")
print(df)

  Sname   ID  Age  cgpa   address       phone            email
0  sdaf  231   19     9   dsafsaf  2142144421  asfsa@gmail.com
1  tewt  232   20     8  fdsgegrg  3153113554   trwt@gmail.com
2  fdsg  233   21     9   fdsgdsg   421425532   hrhh@gmail.com
3  hteh  234   19     7    gfsgsg  4351314431  ntrnr@gmail.com
4  nynh  235   20     8     gsfth  5437658766  trbdr@gmail.com

In [85]:
import pandas as pd
df=pd.read_csv("Product.csv")
print(df)

   PID    Pname   MRP    MFG_Date    Exp_Date        Address
0  121    gdsgs  2000  01-01-2025  01-01-2026   gdsgdsga532g
1  122    mutgs  2500  02-02-2025  02-01-2026  fsgrg352dsgag
2  123    gdsgs  6000  13-11-2025  25-01-2026    s6537gdsgag
3  124  dasfsgs  7000  21-09-2025  01-01-2026     logdsg87ds
4  125   rhtrgs  8000  11-07-2025  01-01-2026  iugdsgdsg887g

In [89]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Asus\Desktop\student.csv")
print(df)

  Sname   ID  Age  cgpa   address       phone            email
0  sdaf  231   19     9   dsafsaf  2142144421  asfsa@gmail.com
1  tewt  232   20     8  fdsgegrg  3153113554   trwt@gmail.com
2  fdsg  233   21     9   fdsgdsg   421425532   hrhh@gmail.com
3  hteh  234   19     7    gfsgsg  4351314431  ntrnr@gmail.com
4  nynh  235   20     8     gsfth  5437658766  trbdr@gmail.com

In [1]:
import pandas as pd
left=pd.DataFrame({
    "id":[1,2,3,4,5],
    "name":["Alex","Jay","Allen","Bob","Frank"],
    "subject_id":["sub1","sub2","sub3","sub4","sub5"]
})
right=pd.DataFrame({
    "id":[1,2,3,4,5],
    "name":["Billy","Kay","Millen","Mob","Drank"],
    "subject_id":["sub1","sub4","sub3","sub6","sub5"]
})
print(left)
print(right)
print(pd.merge(left,right,on=["id","subject_id"]))
print(pd.merge(left, right, on="subject_id", how="left"))
print(pd.merge(left, right, on="subject_id", how="right"))

   id   name subject_id
0   1   Alex       sub1
1   2    Jay       sub2
2   3  Allen       sub3
3   4    Bob       sub4
4   5  Frank       sub5
   id    name subject_id
0   1   Billy       sub1
1   2     Kay       sub4
2   3  Millen       sub3
3   4     Mob       sub6
4   5   Drank       sub5
   id name_x subject_id  name_y
0   1   Alex       sub1   Billy
1   3  Allen       sub3  Millen
2   5  Frank       sub5   Drank
   id_x name_x subject_id  id_y  name_y
0     1   Alex       sub1   1.0   Billy
1     2    Jay       sub2   NaN     NaN
2     3  Allen       sub3   3.0  Millen
3     4    Bob       sub4   2.0     Kay
4     5  Frank       sub5   5.0   Drank
   id_x name_x subject_id  id_y  name_y
0   1.0   Alex       sub1     1   Billy
1   4.0    Bob       sub4     2     Kay
2   3.0  Allen       sub3     3  Millen
3   NaN    NaN       sub6     4     Mob
4   5.0  Frank       sub5     5   Drank